@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860



*@
@{
    Layout = "_Layout";
}
@*@{
        Layout = "~/Views/Shared/_MyLayout.cshtml";
    }*@

<h2> Resources</h2>

@section Resources{


    <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Resources"><strong>Resources</strong></a>
}


<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between mb-2">
                            <ul class="nav nav-tabs b-none">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#list"><i class="fa fa-list-ul"></i> Clients List</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#addnew"><i class="fa fa-plus"></i> Add New</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" placeholder="Clinet Name">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-6">
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" placeholder="Project">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                <a href="javascript:void(0);" class="btn btn-primary btn-block mb-1" title="">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center ribbon">
                                <div class="ribbon-box green">New</div>
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar1.jpg" alt="">
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">07</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$2,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center ribbon">
                                <div class="ribbon-box indigo">India</div>
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar3.jpg" alt="">
                                <h6 class="mt-3 mb-0">David Wallace</h6>
                                <span>Michelle@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">14</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$7,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar4.jpg" alt="">
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">08</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$5,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar6.jpg" alt="">
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">05</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$1,071</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center ribbon">
                                <div class="ribbon-box orange">Gold</div>
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar5.jpg" alt="">
                                <h6 class="mt-3 mb-0">Michelle Green</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">31</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$45,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar1.jpg" alt="">
                                <h6 class="mt-3 mb-0">Sean Black</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-slack"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">31</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$45,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center ribbon">
                                <div class="ribbon-box pink">USA</div>
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar2.jpg" alt="">
                                <h6 class="mt-3 mb-0">Jason Porter</h6>
                                <span>Carol@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">22</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$12,510</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class="rounded-circle img-thumbnail w100" src="~/images/sm/avatar2.jpg" alt="">
                                <h6 class="mt-3 mb-0">David Wallace</h6>
                                <span>jason-porter@info.com</span>
                                <ul class="mt-3 list-unstyled d-flex justify-content-center">
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-dropbox"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-apple"></i></a></li>
                                    <li><a class="p-3" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                                <button class="btn btn-default btn-sm">View Profile</button>
                                <button class="btn btn-default btn-sm">Message</button>
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <label class="mb-0">Project</label>
                                        <h4 class="font-18">12</h4>
                                    </div>
                                    <div class="col-6">
                                        <label class="mb-0">Deal</label>
                                        <h4 class="font-18">$1,840</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="addnew" role="tabpanel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Add Client</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <form class="card-body">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Date of Birth">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label>Gender</label>
                                        <select class="form-control show-tick">
                                            <option value="">-- Gender --</option>
                                            <option value="10">Male</option>
                                            <option value="20">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label>Department</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label>Position</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Enter Your Email</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Website URL</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Facebook</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>LinkedIN</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Behance</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mt-2 mb-3">
                                            <input type="file" class="dropify">
                                            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mt-3">
                                            <label>Messages</label>
                                            <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Project Summary</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Client Name</th>
                                <th>Team</th>
                                <th>Project</th>
                                <th>Project Cost</th>
                                <th>Payment</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#AD1245</td>
                                <td>Sean Black</td>
                                <td>
                                    <ul class="list-unstyled team-info sm margin-0 w150">
                                        <li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                                        <li class="ml-2"><span>2+</span></li>
                                    </ul>
                                </td>
                                <td>Angular Admin</td>
                                <td>$14,500</td>
                                <td>Done</td>
                                <td><span class="tag tag-success">Delivered</span></td>
                            </tr>
                            <tr>
                                <td>#DF1937</td>
                                <td>Sean Black</td>
                                <td>
                                    <ul class="list-unstyled team-info sm margin-0 w150">
                                        <li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                                        <li class="ml-2"><span>2+</span></li>
                                    </ul>
                                </td>
                                <td>Angular Admin</td>
                                <td>$14,500</td>
                                <td>Pending</td>
                                <td><span class="tag tag-success">Delivered</span></td>
                            </tr>
                            <tr>
                                <td>#YU8585</td>
                                <td>Merri Diamond</td>
                                <td>
                                    <ul class="list-unstyled team-info sm margin-0 w150">
                                        <li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>One page html Admin</td>
                                <td>$500</td>
                                <td>Done</td>
                                <td><span class="tag tag-orange">Submit</span></td>
                            </tr>
                            <tr>
                                <td>#AD1245</td>
                                <td>Sean Black</td>
                                <td>
                                    <ul class="list-unstyled team-info sm margin-0 w150">
                                        <li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>Wordpress One page</td>
                                <td>$1,500</td>
                                <td>Done</td>
                                <td><span class="tag tag-success">Delivered</span></td>
                            </tr>
                            <tr>
                                <td>#GH8596</td>
                                <td>Allen Collins</td>
                                <td>
                                    <ul class="list-unstyled team-info sm margin-0 w150">
                                        <li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                                        <li><img src="assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                                        <li class="ml-2"><span>2+</span></li>
                                    </ul>
                                </td>
                                <td>VueJs Application</td>
                                <td>$9,500</td>
                                <td>Done</td>
                                <td><span class="tag tag-success">Delivered</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

