
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles</h1>

@section Roles{
    <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Roles"><strong>Roles</strong></a>

}